.title {
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 16px;
	margin-top: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0;
    padding-top: 0;
	background: #33373c;
	border: 1px solid #bd00ff;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.32px;

	color: #ffffff;
}

.card-title_rose {
	color: #bd00ff;
}