.screen{
  background: linear-gradient(277.08deg, #BD00FF -5.03%, #05CDFF 130.8%);
}

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(277.08deg, #BD00FF -5.03%, #05CDFF 130.8%);
}

.User .Cell__main {
  padding-right: 0;
 }

.home-img {
  width: 10%;
  max-width: 200px;
  align-items: center;
  text-align: center;
  margin-bottom: 42px;
}

.home2-img {
  display: flex;
  width: 185px;
  align-items: center;
  max-width: 200px;
  margin-bottom: 20px;
}
.button-style {
  display:block;
  height: 75%;
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
}

.header-buy{
background: linear-gradient(277.08deg, #BD00FF -5.03%, #05CDFF 130.8%) !important;
}