.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header-avatar {
	margin: 10px auto 0;
}

.catalog {
	/* height: 60px; */
}

.lottery {
	padding: 25px 16px 16px;
	margin-top: 57px;
}

.lottery-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

.lottery-item {
	display: flex;
	align-items: flex-start;
	padding: 0 0 20px;
}

.scroll-item {
	min-height: 366px;
}

.scroll-item__first {
	background: linear-gradient(277.08deg, #bd00ff -5.03%, #05cdff 130.8%) !important;
	border-radius: 19px !important;
	width: 237px !important;
	padding: 20px 14px;
}

.scroll-item__center {
	display: flex;
	flex-direction: column;
	width: 345px !important;
	background: transparent;
	border-radius: 0 !important;
	margin-right: 15px !important;
	margin-left: 7px !important;
}

.scroll-item__last {
	width: 196px;
	background: none;
}

.user-name h3 {
	font-size: 14px !important;
}

.button-show h3 {
	font-size: 13px;
}

.card-buy{
	background: linear-gradient(277.08deg, #BD00FF -5.03%, #05CDFF 130.8%);
border-radius: 19px;
}

.card-buy__text h3{
	font-size: 21px;
	text-align: center;
}

.card-group{
	background: linear-gradient(277.08deg, #BD00FF -5.03%, #05CDFF 130.8%)
}

.card-voice{
	background: #FFFFFF;
border: 2px solid #BD00FF;
}
