.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-avatar {
	margin: 10px auto 0;
}

.catalog {
	/* height: 60px; */
}

.title {
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 16px;
	margin-top: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0;
    padding-top: 0;
	background: #33373c;
	border: 1px solid #bd00ff;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.32px;

	color: #ffffff;
}

.card-title_rose {
	color: #bd00ff;
}

.lottery{
	padding: 25px 16px 16px;
	margin-top: 57px;
}

.lottery-items{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

.lottery-item{
	display: flex;
	align-items: flex-start;
	padding: 0 0 20px;
}
